/* style.css
* This file provides css styles.
*/

.box {
    border: 1px solid gray;
    position: relative;
    padding: 5px;
    margin: 0 auto;
    width: 484px;
    height: auto;
}

.box-row {
    margin: 0 auto;
    padding: 5px;
    height: 15px;
    //height: 60px;
}

.box-item {
    display: inline-block;
    width: 230px;
}
.box-input{
    width: 200px !important;
}
span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*color: white;*/
    color: #0e2038;
    font-weight: bold;
    
}

.pull-right {
    float: right
}
input[type="text"], input[type="number"], input[type="datetime-local"]{
    width: 250px;
    
}

form{
    position: absolute;
    left: 80px !important;
    top: 158px;
}
.resp_ws{
    position: absolute;
    top: 590px;
    left: 80px;
}
.motor-heading{
    position: absolute;
    top: 108px;
    left: 150px;
    font-size: 34px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #0e2038;
}
body{
    /*background:url('./02BG.jpg');
    background-size:cover;*/
}
.white-text{
    color:white;
}